<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/crm-house-holding/src/main.css">
    </head>
    <body>
        <header class="mb-4">
            <div class="px-3 py-2 text-bg-dark border-bottom">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/crm-house-holding/views/index.html" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <img src="/crm-house-holding/src/img/logo_x64.png" alt="logo"/>
                        </a>
            
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="/crm-house-holding/views/index.html" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-house-door"></i>
                                        <span>Головна</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-speedometer2"></i>
                                        <span>Панель управління</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-table"></i>
                                        <span>Замовлення</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-grid"></i>
                                        <span>Нерухомість</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/crm-house-holding/views/users/admin.html" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-person-circle"></i>
                                        <span>Клієнти</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/crm-house-holding/views/home/faq.html" class="nav-link text-secondary">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-question-circle"></i>
                                        <span>FAQ</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/crm-house-holding/views/home/contacts.html" class="nav-link text-white">
                                    <div class="icon-text-wrapper">
                                        <i class="bi bi-phone"></i>
                                        <span>Контакти</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-center">
                        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" spellcheck="false" data-ms-editor="true">
                        </form>
            
                        <div class="text-end">
                            <a class="btn btn-light text-dark me-2" href="../auth/login.html">Авторизація</a>
                            <a class="btn btn-primary" href="../auth/signup.html">Реєстрація</a>
                        </div>
                </div>
            </div>
        </header>
        <main>
            <div class="my-5">
                <div class="p-5 text-center bg-body-tertiary">
                    <h1 class="text-body-emphasis">Поширені запитання</h1>
                    <div class="container py-5">
                        <h3 class="text-body-emphasis">Питання 1</h3>
                        <p class="col-lg-8 mx-auto lead">
                            This takes the basic jumbotron above and makes its background edge-to-edge with a inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
                        </p>
                    </div>
                    <hr>
                    <div class="container py-5">
                        <h3 class="text-body-emphasis">Питання 2</h3>
                        <p class="col-lg-8 mx-auto lead">
                            This takes the basic jumbotron above and makes its background edge-to-edge with a inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
                        </p>
                    </div>
                    <hr>
                    <div class="container py-5">
                        <h3 class="text-body-emphasis">Питання 3</h3>
                        <p class="col-lg-8 mx-auto lead">
                            This takes the basic jumbotron above and makes its background edge-to-edge with a inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="border-top mt-4">
            <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="#" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                        <img src="../../src/img/logo_x64.png" alt="logo"/>
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">Copyright: &copy; Super-ultra-mega evil Company &trade;, Burg</span>
                </div>
            
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex ">
                    <li class="ms-3"><a class="text-body-secondary" href="tel:номер-телефону"><i class="fs-4 mx-2 bi bi-telephone-outbound"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="tg://посилання-на-чат-в-Telegram"><i class="fs-4 mx-2 bi bi-telegram"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="mailto:адреса-електронної-пошти"><i class="fs-4 mx-2 bi bi-envelope-at"></i></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="https://wa.me/номер-телефону"><i class="fs-4 mx-2 bi bi-whatsapp"></i></a></li>
                </ul>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>